// =======================================
// 
// 順番コンシェル　ランディングページ
// 
// =======================================


// =======================================
// Preset
// =======================================



// =======================================
// Style
// =======================================
body {
	font-family: 'メイリオ';
}
h1, h2, h3, h4 {
	margin: 0px 0;
}
h1 {
	color: #F09C35;
}
h2 {
	color: #F09C35;
	line-height: 2.5;
}
h3 {
	color: #12ACE7;
	line-height: 2;
}
h4 {
	color: #12ACE7;
	line-height: 2;	
}
p {
	line-height: 1.8;
}

// text state
.text-blur {
	color: #999;
}