.full {
  width: 100%;
}
.gap {
  clear: both;
  display: block;
  height: 30px;
  width: 100%;
}
.footer {
  background: #edeff1;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #dddddd;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  margin-top: 45px;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  color: #7F8C8D;
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  margin-top: 15px;
  padding-left: 0;
}
.footer ul li a {
  display: block;
  padding: 0 0 5px 0;
}
.footer a {
  color: #78828D;
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box {
  overflow: hidden;
}
.newsletter-box input#appendedInputButton {
  background: #ffffff;
  clear: both;
  display: inline-block;
  float: left;
  height: 30px;
  width: 100%;
}
.newsletter-box .btn {
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: medium none;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #bbbbbb 0%, #f0f0f0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  -moz-border-radius: 50%;
  -moz-transition: all 0.5s ease 0s;
  -ms-border-radius: 50%;
  -ms-transition: all 0.5s ease 0s;
  -o-border-radius: 50%;
  -o-transition: all 0.5s ease 0s;
  -webkit-border-radius: 50%;
  -webkit-transition: all 0.5s ease 0s;
  background: none repeat scroll 0 0 #b5b5b5;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  transition: all 0.5s ease 0s;
  width: 36px;
  overflow: hidden;
}
.social li:hover {
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  background: #2c3e50;
  transform: scale(1.15) rotate(360deg);
}
.social li a {
  color: #edeff1;
  padding: 0 !important;
}
.social li a i {
  color: #edeff1 !important;
  font-size: 16px;
  margin: 0 0 0 5px;
}
.social li a img {
  height: 100%;
  width: 100%;
}
.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #dddddd;
  padding-bottom: 10px;
  padding-top: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
.payments {
  font-size: 1.5em;
}
