// =======================================
// 
// 順番コンシェル　ランディングページ
// 
// =======================================


// =======================================
// Preset
// =======================================



// =======================================
// Style
// =======================================
.navbar {
	position: fixed !important;
	left: 0; top: 0;
	z-index: 9999;
	margin-bottom: 0px;
	width: 100%;	
	min-height: 40px;
	border: 0;
	text-align: center;
	background-color: @white-smooth;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	
	.brand {
		opacity: 0;
		margin-top: 6px;
		margin-left: 60px;
		margin-right: -225px;
		float: left;
		
		.transition(~"opacity 0.1s linear");
	}
	.nav { 
		display: inline-block;
		margin: 0 auto;

		> li {
			float: left;				
		}
	}
	.btn {
		margin-top: 3px;
	}
	.btn-login {
		margin-right: 20px;
		margin-left: -56px - 24 - 20;
	}
}
.nav-smint {
	height: 40px;
	text-align: center !important;	
	width: 100% !important;
}

// navbar position 
.nav-smint.fxd {
	li  {
		> a.active {
			border-bottom: 6px solid;
		}		
		&:last-child a.active{
			border-bottom: none;
		}
	}
}

.nav-smint.fxd {		

	.brand {
		opacity: 1;		
		.transition(~"opacity 0.5s linear");
	}
}

.nav-footer {	
	width: 100%;
	list-style: none;
	padding: 0;
	
	ul {
		padding: 0;
	}
	li {
		display: inline-block;	
	}

	&-sub {
		display: inline-block;
		list-style: none;
		li {
			&:after {
				content: "|";
			}
			&:last-child:after {
				content: "";
			}
		}
	}
}