// =======================================
// 
// 順番コンシェル　ランディングページ
// 
// =======================================


// =======================================
// Preset
// =======================================



// =======================================
// Style
// =======================================
.navbar {
	position: fixed !important;
	left: 0; top: 0;
	z-index: 9999;
	width: 100%;		
	border: 0;
	text-align: center;
	background-color: @white-smooth;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);

	.nav {
		display: inline-block;
		margin: 0 auto;

		> li {
			float: left;				
		}
	}
}
.smint {

}
.smint.fxd {

}