// =======================================
// 
// 順番コンシェル　ランディングページ
// 
// =======================================

// =======================================
// Import
// =======================================
@import '../css/vender/lesshat.less';
@import '../css/vender/variables.less';

@import '../css/image.less';
@import '../css/font.less';

@import '../css/nav.less';
@import '../css/section.less';

// =======================================
// dev tool
// =======================================
[class^="col-"] {
	.outline(#A2FFFB);
}

body {
	.transition(~"all 1s linear");
}
// =======================================
// Preset
// =======================================
@main-bg-color: #f5f0e6;
@white-smooth: #fcfcfc;

@shadow-section: 0px 3px 5px rgba(0,0,0,0.3);
@border-radius-section: 8px;

html, body {
	height: 100%;
}
body {
	mix-height: 100%;
	padding-top: 0 !important;
	background: @main-bg-color;
}
.outline(@color: red) {
	outline: 1px solid @color;
}
.va-bottom {
	height: 100%;
	
	&:before {
		content: "";
		height: 100%;
		width: 1px;
		display: inline-block;		
		vertical-align: middle;
		margin-right: -0.25em; /* Adjusts for spacing */
	}
	.centered {
		display: inline-block;		
		vertical-align: middle;		
	}
}
// =======================================
// Style
// =======================================


.section-hero {
	padding-top: 48px;
	background-color: @white-smooth;
	box-shadow: 0px 85px 85px rgba(0,0,0,0.1);

	height: 100%;
	width: 100%;

	// =======================================
	// layout 
	//
	.herounit {
		height: 100%;
		margin-top: -60px;
		padding-top: 60px;

		.row-top {
			height: 60px;
			margin-bottom: -60px;
		}
		.row-center {
			height: 100%;
			margin-top: 60px;
			margin-bottom: 68px;
			overflow: hidden;
			.outline;
			
			// left : intro picture
			.col-left {
				height: 100%;
				min-height: 380px;
			}
			// right : intro text & btn-register
			.col-right {	
				height: 100%;
				margin-top: -180px;
				padding-top: 180px;

				.col-rtop {
					height: 100%;
					margin-bottom: 180px;					
				}
				.col-rbottom {
					margin-top: -180px;
				}
			}
		}
		.row-bottom {
			height: 68px;
			margin-top: -68px;
		}
	}	
	//
	// end layout
	// =======================================
	.row-nav-more {
		// !ipt to avoid smint.js style
		position: absolute !important;				
		height: 68px;
		width: 100%;
		margin: 0;
		top: auto !important;
		left: 0 !important;
		right: 0 !important;
		bottom: -20px !important;		
		text-align: center;

		.btn-nav-more {			
			font-size: 16px;
			line-height: 16px;
			padding: 10px 52px;
			background-color: white;
			border-radius: 10px;
			border: 1px solid #ccc;
		}
	}
}
.section-content {
	padding-top: 135px;
}

#footer {
	background: @white-smooth;
	padding: 20px;
	text-align: center;
	
}