<h1>特定商取引に基づく表記</h1>
<p>「特定商取引に関する法律」第11条（通信販売についての広告）に基づき以下に明示いたします。  </p>
<table class="table table-striped">
    <tbody>
        <tr>
            <th>事業者名</th>
            <td>一般社団法人 PCサポート技術者協会</td>
        </tr>
        <tr>
            <th>代表者</th>
            <td>代表理事 鈴木暢史</td>
        </tr>
        <tr>
            <th>住所</th>
            <td>〒362-0014　埼玉県上尾市本町5丁目13番20号</td>
        </tr>
        <tr>
            <th>電話</th>
            <td>048-657-8050</td>
        </tr>
        <tr>
            <th>サービスの名称</th>
            <td>順番コンシェル</td>
        </tr>
        <tr>
            <th>サービス内容</th>
            <td>インターネットを利用した順番待ち管理システム</td>
        </tr>
        <tr>
            <th>サービスの動作環境</th>
            <td>"Google社が提供するブラウザGoogle Chromeが動作するOS。 （Windows / Android / iOS）"</td>
        </tr>
        <tr>
            <th>サービスの対価</th>
            <td>"プレミアム会員：月額2,800円（消費税別） 一般会員：無料"
            </td>
        </tr>
        <tr>
            <th>"サービスの対価以外で お客様に発生する金銭"
            </th>
            <td>"インターネット通信をするために必要となる通信料、プロバイダ料金、その他インターネット 利用のために必要となる料金"
            </td>
        </tr>
        <tr>
            <th>支払い方法と支払い時期</th>
            <td>"お支払い方法は、クレジットカードのみとなります。 お支払いの時期は、毎月1日に自動課金を行います。その後の処理は、お客様とクレジット カード会社との契約内容に基づきます。"
            </td>
        </tr>
        <tr>
            <th>サービス提供方法</th>
            <td>インターネット通信により随時提供されます。</td>
        </tr>
        <tr>
            <th>サービス提供期間</th>
            <td>"契約締結日から契約締結日の属する月の月末までとなります。 プレミアム会員の契約を解約しない場合には翌月度も自動更新（自動課金）となります。"
            </td>
        </tr>
        <tr>
            <th>解約</th>
            <td>"会員契約の解約はログイン後の管理画面から「解約申請」を行なってください。 解約月の料金につきましては、一切の返金は行われませんので、ご注意ください。"
            </td>
        </tr>
        <tr>
            <th>お問い合わせ先</th>
            <td>"<a href="e-mail">お問合せフォーム</a>または、 電話：048-657-8050 受付時間　9：00～18：00　（土・日・祭日は休業）"
            </td>
        </tr>
    </tbody>
</table>
