<h1 class="text-center">プラン選択</h1>
<h3>説明内容：...</h3>
<div class="row">
    <div class="col-md-6">
        <ul class="pricing-table">
            <li>
                <h4>無料プラン</h4>
            </li>
            <li>
                <p>￥0</p>
            </li>
            <li>
                <p>順番登録は一日20人限定</p>
            </li>
            <li>
                <p>
                    <br>
                </p>
            </li>
            <li>
                <a class="btn btn-lg btn-warning">登録</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">

        <ul class="pricing-table">
            <li class="premium-plan">
                <h4>プレミアムプラン</h4>
            </li>
            <li>
                <p>￥1980/一ヶ月</p>
            </li>
            <li>
                <ul>
                    <li>
                        <p>順番登録人数制限無し</p>
                    </li>
                    <li>
                        <p>専用電話連絡先</p>
                    </li>
                </ul>
            </li>
            <li>
                <a class="btn btn-lg btn-warning">登録</a>
            </li>
        </ul>
    </div>
</div>
